.booking_footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
}

.booking_back {
  background-color: #F3F3F3;
  height: 95px;
  width: 110px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking_button {
  background-color: #7DBD6B;
  height: 95px;
  width: 495px;
  float: right;
}

.booking_button a {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: 'Hind', sans-serif;
  font-size: 2.5em;
  font-weight: 900;
  color: #FFF;
  padding: 0px;
}
