.booking_frame {
  background-color: $lighter-light-grey;
  width: 495px;
  height: 883px;
  display: flex;
  flex-direction: column;
}

.cart_dropdown_title_price p {

  @include fonts(cart);

  font-weight: 200;
  margin: 0;
  padding-left: 20px;
  line-height: 35px;
}

.select_pickup {
  background-color: $white;
  width: 400px;
  height: 63px;
  margin: 45px 45px 0 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart_dropdown_wrapper {
  padding: 30px;
  display: flex;
  flex-direction: row;
}

.cart_dropdown_image {
  background-image: url("photo52banner.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  width: 110px;
  height: 110px;
  align-items: center;
  display: flex;
}

.cart_dropdown_remove {
  margin: auto;
}
