.categories_title {
    padding-top: 35px;
    padding-left: 60px;
    padding-bottom: 25px;
}

.row.category-holder {
    padding: 0px 35px;
}

.categories_title h1 {
    font-size: 36px;
    margin: 0;
}
.categories_title h2 {
    padding-bottom: 25px;
    margin: 0px;
}

.categorie_single {
  height: 280px;
  margin-bottom: 50px;
  border-radius: 10px;
  text-align:center;
  position:relative;
}

.categorie_single img {
  box-shadow: 0px 0px 100px #252525;
  padding: 0px;
}

.cat_title {
  position: absolute;
  margin: auto;
   top: 0;
   left:0;
   right:0;
   bottom:0;
   color:#fff;
  height:60px;
  text-transform: uppercase;
}
