
.categories_title {
  display: block;
}

.categories_bg {
  // height: 100vh;
  width: 100vw;
  background-color: $dark-grey;
}

.categories_title {
  // margin-top: 60px;
  padding-top: 60px;
}
.container {
  // margin-left: 50px;
  padding: 0 2%;
}

.categories {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
}

.categorie_single {
  // padding: 10%;
  // width: 30%;
  cursor: pointer;
  height: 282px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
  padding-bottom: 2%;


  .cat_title {
    // margin: 0 auto;
    position: absolute;
    align-items: center;
  }
}
