/****************************************
Header AREA
****************************************/
#root {
    width: 1366px;
    height: 1024px;
    margin: auto;
}

.header {
  height: 100px;
  background-color: $white;
  display: flex;
  align-items: center;
}

.header div:last-child {
  margin-left: auto;
}

.row.category-holder {
  margin-left: 0px;
  margin-right: 0px;
}

/****************************************
logo AREA
****************************************/
.logo {
  height: 40px;
  margin: 20px 60px;
  align-self: center;
}
.vertical_line {
  width: 1px;
  height: 50px;
  background-color: $light-grey;
}

/****************************************
SEARCH AREA
****************************************/
.search_area {
  width: 100%;
  display: flex;
}
.search_icon {
  height: 30px;
}
.search_field {
  background: $white;
  border: none;
  align-self: center;
  margin-left: 30px;
  height: 30px;
  width: 95%;
}
/****************************************
Cart AREA
****************************************/
.cart_area {
  display: flex;
  align-items: center;
}
.cart_icon {
  height: 30px;
  align-self: center;
}
