/****************************************
Hero
****************************************/
.hero {
  // background: url(../dist/img/Adventure/take_a_walk_on_the_ice_side/photo52banner.jpeg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  margin-bottom: 3rem;
}

.hero_txt {

}

/****************************************
Main text area
****************************************/


/****************************************
Tour detales
****************************************/
