body,html {
  margin: 0;
  padding: 0;
  width: 100%;
}

p {
  @include fonts (body-text);
}

h1 {
  @include fonts (h1);
}

h2 {
  @include fonts (h2);
}

h3 {
  @include fonts (h3);
}

.container-fluid,
section.texture.col-md-7,
section.shade.col-md-5 {
  padding: 0px;
  margin: 0px;
}

.centerme {
  margin: auto;
}

.row-no-gutter{
  margin-right: 0;
  margin-left: 0;

  [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
